<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title><%=header_title%></title>
	<meta name="keywords" contnet="<%= header_keywords%>"></meta>
	<meta name="description" contnet="<%= header_description%>"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0 minimum-scale=1.0,user-scalable=no"/>
	<script type="text/javascript">
	var PVar = {
		resourceVer : '<%=ResVer%>',
		jsServer 	: '<%=jsServerAddr%>',
		apiServer   : '<%= sysApi%>'
	}
	</script>
	<% include ./public/css.html%>
</head>
<body>


<%- body %>



<script type="text/javascript">
	DI.setPath('<%=jsServerAddr%>')
</script>
</body>
</html>